* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.win {
	display: flex;
	z-index: 1;
	color: #f1d1b5;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
	width: 15rem;
	height: 7rem;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #568ea6;
	transition: all 0.2s;
}

button {
	font-size: 1rem;
	border: none;
	margin: 0.5rem;
	padding: 0.4rem 1rem;
	color: #f1d1b5;
	transition: all 0.2s;
	background-color: #305f72;
}

button:hover {
	cursor: pointer;
	transform: scale(1.02);
}

button:active,
button:focus {
	outline: none;
	/* transform: scale(1.04); */
}

button:active {
	transform: scale(1.04);
}

.hidden {
	/* display: none; */
	transform: translate(-50%, -50%) scale(0);
}
